# تجاهل ملفات المنصات التي تحتوي ملفات C++ كبيرة
/windows/** linguist-vendored
/linux/** linguist-vendored
/macos/** linguist-vendored
/ios/Flutter/** linguist-vendored
/ios/Pods/** linguist-vendored
/android/.gradle/** linguist-vendored
/android/.idea/** linguist-vendored
/android/** linguist-vendored

# تجاهل ملفات C++ المولدة
**/*.cc linguist-vendored
**/*.cpp linguist-vendored
**/*.h linguist-vendored

# تأكيد أن ملفات Dart تحت lib/ تظهر كلغة Dart
lib/** linguist-language=Dart
*.dart linguist-language=Dart
pubspec.yaml linguist-language=YAML
